@font-face {
    font-family: "YourCustomFont";
      font-style: normal;
  font-weight: normal;
    src: url("../fonts/abc.ttf");
}

body{
    font-size:14pt;
font-family:"YourCustomFont",Calibri,Verdana, sans-serif;
}

h2 {color:blue;}
:root {
 --color1:#336699;
 --color2:green;
 --color3:brown;
 --color4:blue;
 --color5:purple;
 --color6:yellow;

}



h1 {color:var(--color1);}
h2 {color:var(--color2);}
h3 {color:var(--color3);}
h4 {color:var(--color4);}
h5 {color:var(--color5);}
h6 {color:var(--color6);}

/* bold face */
strong {color: var(--color2);}

/* italics */
em {color:var(--color3);}
h1, h2, h3, h4, h5, h6 {

  page-break-after: avoid;
  page-break-inside: avoid;
}

img.cover-image {
    max-width:100%;
    max-height:100%;
    display:block;
}
